@font-face {
    font-family: "My Custom Font";
    src: url(font/CyberSloth.ttf) format("truetype");
}
body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

body{
    font-family: "My Custom Font", sans-serif, Tahoma;
    background-color: #000000;
    padding: 0;
    margin: 0;
}
#settings{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
}
#gameSettings{

}
#playerSettings{
    display: none;
    align-items: center;
    justify-content: center;
    width: 600px;
    max-width: 90%;
}

#scoreboard{
    position: absolute;
}

.cupHolder{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.cup{
    width: 48%;
    display: flex;
    justify-content: space-between;
}
#container{
    width: 100%;
    height: 10px;
    background-color: #919191;
    overflow: hidden;
}
#marker{
    margin-left: 270px;
    height: 100px;
    display: flex;
    justify-content: space-around;
}
.numberSlot{
    display: block;
    font-size: 40px;
    width: 40px;
    text-align: center;
}
.playerSlot{
    display: table;
}
.turnNumber{
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    text-align: center;
    margin-top: -10px;
    margin-bottom: -10px;
}
.name{
    font-size: 32px;
    width: 270px;
    max-width: 270px;
    padding-left: 20px;
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
}
.score{
    height: 100%;
}
.playerImageHolder{
    height: 100%;
    position: relative;
}

.playerImage{
    position: absolute;
    bottom: 0;
}
.jonne{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    margin-left: 16px;
}

.map{
    display: block;
    width: 22%;
    background-color: #747474;
}
.mapCount{
    margin-top: -40px;
    height: 40px;
    font-size: 30px;
    text-align: right;
    padding-right: 10px;
    color: #ffffff;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
         2px 2px 0 #000;
    opacity: 1;
}

.mapImage{
    width: 100%;
    display: block;
}

.highlight{
    opacity: 0.4;
}

#help {
    width: 340px;
    height: 280px;
    background-color: #c9c9c9;

    position:absolute; /*it can be fixed too*/
    padding: 10px;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;
    border: 2px solid black;
}
#help > .center{
    text-align: center;
}

.right{
    float: right;
}
.left{
    float: left;
}

.clear{
    clear: both;
}

#helpOK {
    background-color: #b0b0b0;
    padding: 4px;
    border: 1px solid black;
    text-align: center;
    width: 60px;
    margin: auto;
    cursor: pointer;
}

.helpOPEN{
    cursor: pointer;
}

.mini-p-img{
    width: 48px;
        display: inline-block;
    vertical-align: middle;
}

.info{
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    margin-bottom: -2px;
}
.info-score{
    font-size: 22px;
}
